.contact-page {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  /* .contact-img {
    margin-left: 25%;
    object-fit: contain;
    width: 60%;
    height: auto;
  } */
  .contact-img{
    object-fit: contain;
    width: 16rem;
    padding: 0.3rem;
  }
  .contact-img1{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: photo 1s ease-in-out;
  }
  @keyframes photo {
    0%{
        transform: translateY(-50%)
    }
  }
  @media (max-width: 768px) {
    .contact-img{
        object-fit: contain;
        width: 12rem;
    }
  }
  
  .contact-details {
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  
    p {
      margin-bottom: 10px;
    }
  }
  .social-icons a{
    text-decoration: none;
  }
  .social-icons {
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    a {
      color: #007bff;
      margin: 0 10px;
  
      &:hover {
        color: #0056b3;
      }
    }
  }
  